source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/sentimentalanalysisml/api/v3/index.json
source https://www.myget.org/F/sentimentfs/api/v2

nuget Expecto >= 5.0.0-0
nuget FSharp.Core >= 4.1.0
nuget System.ValueTuple >= 4.3.1
nuget SentimentFS.Common
nuget SentimentFS.TextUtilities >= 0.6.0
nuget Microsoft.Extensions.Primitives < 2.0.0
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk
nuget Unquote
clitool Microsoft.DotNet.Watcher.Tools

group Build
    source https://www.nuget.org/api/v2
    nuget FAKE
